body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
  padding-top: 70px;
}

body *::selection {
  background: #e67e22;
  color: #fff;
}

.container {
  max-width: 980px;
}

.top-strip {
  background-color: #000;
  height: 0.25em;
  width: 100%;
}

h1,h2,h3 {
  color: #1a1a1a;
  font-weight: 300;
}

h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.page-header {
  margin-top: 20px;
  /*border-color: #3498db;*/
}

p.authors {
  margin-bottom: 5px;
  color: #808080;
  font-size: 20px;
}

p.authors a {
  border-color: #dedede;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

.navbar a {
  border-bottom: 0;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

#vimeo-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#vimeo-embed iframe,
#vimeo-embed object,
#vimeo-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.people-pic {
  max-width: 125px;
  max-height: 125px;
}

.people-name {
  margin: 5px 0 10px;
}

.people-name h6 {
  margin: 2px 0;
  font-weight: 300;
  font-size: 11px;
}

#sequence {
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 300;
  fill: #fff;
}

#chart {
  position: relative;
  border-right: 1px solid #eee;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 240px;
  left: 180px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

.sponsor img {
  max-height: 150px;
  max-width: 350px;
  /*border: 1px solid black;*/
  padding: 10px;
  margin-right: 20px;

}

.vid-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.vid-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.member-name1, .member-name2, .member-name3, .member-name5 {
  text-transform: uppercase;
  text-align: center;
  margin: 1.625em 0;
  font-weight: bold;
}
.member-name::before {
  content: attr(data-text);
  position: relative;
  display: table;
  margin: 1.5em auto;
  font-size: 0.625em;
  line-height: 1;
  font-weight: normal;
  color: #838379;
}
.member-name2::after, .member-name2::after, .member-name3::after, .member-name5::after {
  content: "";
  display: table;
  margin: 1.5em auto;
  width: 3em;
  height: 1px;
  background-color: #101820;
}  
.member-name2::after, .member-name3::after, .member-name5::after {
  content: "";
  display: table;
  margin: 1.5em auto;
  margin-left: 8em;
  width: 3em;
  height: 1px;
  background-color: #101820;
}

.member-name2::before {
  content: attr(data-text);
  position: relative;
  display: table;
  margin: 1.5em auto;
  margin-left: -2em;
  font-size: 0.625em;
  line-height: 1;
  font-weight: normal;
  color: #838379;
}
.member-name3::before {
  content: attr(data-text);
  position: relative;
  display: table;
  margin: 1.5em auto;
  margin-left: 1.5em;
  font-size: 0.625em;
  line-height: 1;
  font-weight: normal;
  color: #838379;
}
.member-name5::before {
  content: attr(data-text);
  position: relative;
  display: table;
  margin: 1.5em auto;
  margin-left: -5em;
  font-size: 0.625em;
  line-height: 1;
  font-weight: normal;
  color: #838379;
}

/* ==================================
   Preloader
   ================================== */
.preloader{
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999999;
}
.preloader10 {
    display: inline-block;
    height: 20px;
    left: 50%;
    margin-left: -20px;
    margin-top: -10px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 40px;
}
.preloader10 span {
   position:absolute;
   display:inline-block;
   width:20px;
   height:20px;
   border-radius:100%;
   background:#ffd300;
   -webkit-animation:preloader10 0.7s linear infinite alternate;
   animation:preloader10 0.7s linear infinite alternate;
}
.preloader10 span:last-child {
   animation-delay:-0.7s;
   -webkit-animation-delay:-0.7s;
   margin-left:20px;
   background:#0096ff;
}
@keyframes preloader10 {
   0% {transform: scale(0, 0);}
   100% {transform: scale(1, 1);}
}
@-webkit-keyframes preloader10 {
   0% {-webkit-transform: scale(0, 0);}
   100% {-webkit-transform: scale(1, 1);}
}

/* ==================================
   Google map
   ================================== */
.map {
  position: relative;
  width: 100%;
  height: 8em;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#my-map {
  width: 100%;
  height: 20em;
}
.show-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.25em 0;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 39, 33, 0.8);
  z-index: 2;
  cursor: pointer;
}
.show-map span,
.show-map i {
  display: block;
  color: #ffffff;
}
.opened {
  height: 20em;
}
.opened .show-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: table;
  text-align: center;
  z-index: 2;
}

/* ==================================
   Navbar
   ================================== */
.nav > li > a{
  padding-left: 13px;
  padding-right: 13px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;
  color: #ffffff;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #E7E7E7;
  padding: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.navbar-default .navbar-brand {
  color: #101820;
  letter-spacing: 1px;
}
.navbar-default .navbar-brand:hover {
  color: #fed141;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.navbar-default .navbar-nav > li > a {
  color: #838379;
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #101820;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFD300;
  background-color: transparent;
}
.navbar-default .navbar-nav > li.active:first-child > a {
  color: #FFD300;
}


.is-blue .navbar-brand {
  color: #101820;
  letter-spacing: 1px;
}
.is-blue .navbar-brand:hover {
  color: #0096ff;
}
.is-blue .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.is-blue .navbar-nav > li > a {
  color: #838379;
  font-size: 12px;
  text-transform: uppercase;
}
.is-blue .navbar-nav > li > a:hover,
.is-blue .navbar-nav > li > a:focus {
  color: #0096ff;
}
.is-blue .navbar-nav > .active > a,
.is-blue .navbar-nav > .active > a:hover,
.is-blue .navbar-nav > .active > a:focus {
  color: #0096ff;
  background-color: transparent;
}
.is-blue .navbar-nav > li.active:first-child > a {
  color: #0096ff;
}
.navbar-default .dropdown-menu {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 !important;
    color: #000;
    font-size: 12px;
    min-width: 125px;
    padding: 5px 0;
}
.navbar-default .dropdown-menu > li > a {
  padding: 6px 20px;
  
}
.navbar-default .dropdown-menu > li > a:hover {
  background: none;
  color: #000;
}
@media only screen and (min-width: 991px) {
  .is-transparent {
    background-color: transparent;
    border-color: transparent;
    padding: 1em;
    z-index: 999;
  }
  .is-transparent .navbar-brand {
    color: #ffffff;
  }
  .is-transparent .navbar-brand:hover {
    color: #fed141;
  }
  .is-transparent .navbar-nav > li > a {
    color: #ffffff;
    opacity: 0.7;
  }
  .is-transparent .navbar-nav > li > a:hover,
  .is-transparent .navbar-nav > li > a:focus {
    color: #ffffff;
    opacity: 1;
  }
  .is-transparent .dropdown-menu > li > a {
    color: #838379;
    opacity: 0.7;
  }
  .is-transparent .dropdown-menu > li > a:hover {
    color: #838379;
    opacity: 1;
  }
  .has-dropdown {
    position: relative;
  }
  .navbar-right .has-dropdown > .dropdown-menu {
    right: 100%;
    top: -25%;
  }

.is-blue .navbar-nav > li > a:hover,
.is-blue .navbar-nav > li > a:focus {
    color: #0096ff;
    opacity: 1;
  }
  .is-blue .dropdown-menu > li > a {
    color: #0096ff;
    opacity: 0.7;
  }
  .is-blue .dropdown-menu > li > a:hover {
    color: #0096ff;
    opacity: 1;
}
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.has-dropdown:hover > .dropdown-menu {
  display: block;
}

/* ==================================
   Header                   
   ================================== */
.header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-flow: column wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  min-height: 40vh;
  padding: 2em;
  text-align: center;
  color: #ffffff;
  background: url(../img/backgrounds/parallax-1.jpg) no-repeat scroll center center #c8c9c7;
  background-size: cover;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #3d3935;
  opacity: 0.3;
}
.header .button {
  margin-bottom: 0;
}
.hero {
  height: 100%;
  min-height: 100vh;
  background: url(../img/backgrounds/slider-1.jpg) no-repeat scroll center center #c8c9c7;
  background-size: cover;
}
.banner {
  z-index: 2;
}
.banner h1{
  font-size: 60px;
  font-weight: bold;
}
.banner p {
  color: inherit;
  font-size: 18px;
}
.banner .btn {
  margin-top: 1em;
}
.scroll-down {
  position: absolute;
  right: 0;
  bottom: 1em;
  left: 0;
  margin: auto;
  display: block;
  width: 2em;
  height: 2em;
}
.scroll-down:hover {
  -webkit-animation: simAnim 1s infinite;
  animation: simAnim 1s infinite;
}
@-webkit-keyframes simAnim {
  from {
    bottom: 1em;
  }
  to {
    bottom: 0;
  }
}
@keyframes simAnim {
  from {
    bottom: 1em;
  }
  to {
    bottom: 0;
  }
}
@media only screen and (max-width: 40em) {
  .header {
    min-height: 75%;
    height: auto;
  }
  .hero {
    min-height: 100%;
  }
}
/* ==================================
   Sliders
   ================================== */
.revolution-home{
  position: relative;
  margin:0px;
  padding: 0px;
  z-index: 99;
}
/* ==================================
   About
   ================================== */
.about {
  width: 100%;
  height: auto;
  padding: 4em 0 0;
  text-align: center;
  background: none no-repeat scroll center center #ffffff;
}
.mockup {
  overflow: hidden;
}
.mockup img {
  margin-top: -4em;
  /*only demo*/
}
.about .section-header p{
  font-size: 18px;
}


