/*  Revolution Slider */
@import url("sliders/pe-icon-7-stroke.css");
@import url("sliders/settings.css");
@import url("sliders/layers.css");
@import url("sliders/navigation.css");

/*  Owl Slider */
@import url("sliders/owl.carousel.css");
